# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Environment variables / secrets
.env
.env.*
!.env.example

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Testing / coverage
archive/
.pytest_cache/
.coverage
htmlcov/

# Build files
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/
